.products-listing-page{
    display: flex;
}

.vertical-filters{
    min-width: 20%;
    text-align: left;
    
}



.filter-options{
    display: flex;
    flex-direction: column;
}

.products{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;

}

.product-card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 1rem;
    position: relative;
}

.fast-delivery{
    position: absolute;
    right: 10px;
    color: rgb(156, 54, 134); 
    font-size: 1.2rem;
}

.out-of-stock{
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: grey;
    padding: 0.5rem;
    color: ivory;
}

.add-buttons{
    display: flex;
    margin: auto;
 }

 .btn{
     margin: 0.5rem;
     border: none;
     padding: 0.3rem;
     cursor: pointer;
 }

 fieldset{
     border: 1px solid rgb(201, 197, 197);
 }